@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --header-height: 55px;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding-top: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F55A5A;
  color: #fff;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.050em;
  margin: 0 10px;
}

.journal-entry {
  max-width: 470px;
  min-height: 168px;
  display: grid;
  grid-template-columns: 1.3fr 3fr;
  gap: 20px;
  margin: 40px 0;

}

.journal-entry-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.journal-entry-text {
  margin: auto;
  color: #2B283A;
}

.location {
  display: inline-block;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  margin: 0 5px;
  text-transform: uppercase;
}

.link {
  display: inline-block;
  font-size: 10.24px;
  color: #918E9B;
  margin: 0 10px;
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 5px 0;
}

.date {
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  margin: 20px 0 5px 0;
}

.description {
  font-size: 10.24px;
  line-height: 150%;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .journal-entry {
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 50px 30px;
  }
}